.pricing-container {
  display: flex;
  flex-wrap: wrap;

  gap: 20px;
  box-sizing: border-box;
  padding: 40px;
}

.pricing-card {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(255, 255, 255);
  flex: 0 0 200px;
  height: 120px;
  border-radius: 10px;
  background-color: rgb(213, 140, 6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pricing-card h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.pricing-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  filter: brightness(1.1);
  transform: translateY(-8px);
  transition: 0.3s ease;
}

.basic-plan {
  order: 0;
}

.pro-plan {
  order: 1;
  flex-grow: 2;
}

.premium-plan {
  order: 2;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #575757;
}

h1 {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(213, 140, 6);
  width: 300px;
  padding: 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
