* {
  box-sizing: border-box;
  margin: 0px;
}

header {
  font-family: sans-serif;
  background-color: #22024d;
  color: #fff;
  padding: 32px;
  text-align: center;
  border-bottom: 5px solid #fa9304;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.container img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.container::after {
  content: "";
  width: 350px;
}
